*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;

}
:root{
    --primary-color:rgb(26, 253, 253);
}
header{
    display: flex;
    justify-content: center;
    background-color: #fffbe6;
    padding: 1.5rem;  
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 20px;
}
main button{
    padding: 5px 40px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

button{
    cursor: pointer;
}


.book-card {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-card button{
    padding: 5px;
}
.book-card h3{
    margin: 20px 0;
}

#dialog:modal{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content:space-between;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.inputContainer input{
    font-size: 0.8rem;
    padding: 0.3rem;
}
.add-books{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.radioButtons{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.inputButtons{
    padding: 10px;
    gap: 10px;
}

#book-selection{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
}

.read-yes {
    color: green;
    font-weight: bold;
  }
  
  .read-no {
    color: red;
    font-weight: bold;
  }
